@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

h1 {
    font-size: 30px;
    font-weight: 300;
    color: var(--color--black);
    line-height: 110%;

    @media(max-width:768px){
        font-size: 25px;
    }

    & b {
        font-weight: 400;
        background: linear-gradient(90deg, var(--color--yellow), var(--color--yellow--black));
        -webkit-background-clip: text;
        color: transparent;
    }
}

p {
    font-size: 16px;
    font-weight: 300;
    color: var(--color--black);
    line-height: 120%;

    @media(max-width:768px){
        font-size: 16px;
    }

    & b {
        font-weight: 400;
        color: var(--color--yellow);
    }
}

::-webkit-scrollbar{
    width: 6px;
    background-color: var(--color--black);
}

::-webkit-scrollbar-thumb{
    background-color: var(--color--gray);
}   

.custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.2s ease-out;
}

.custom-cursor img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

.custom-cursor::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(255,255,0,0.2) 10%, rgba(255,255,0,0.1) 40%, rgba(0,0,0,0) 80%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.custom-cursor.active {
    transform: scale(0.95); /* Redução mínima para um efeito sutil */
}

.custom-cursor.active img {
    transform: scale(0.95); 
}

.custom-cursor.active::before {
    width: 120px;
    height: 120px;
    background: radial-gradient(circle, rgba(255,255,0,0.5) 10%, rgba(255,255,0,0.2) 40%, rgba(0,0,0,0) 90%);
    filter: blur(30px);
}

.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(255,255,0,0.6) 20%, rgba(255,255,0,0) 70%);
    border-radius: 50%;
    pointer-events: none;
    filter: blur(10px);
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}


/* From Uiverse.io by Gaurang7717 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 20px;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00d757;
    z-index: 10;
  }
  
  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 25px;
  }
  
  .sign svg path {
    fill: white;
  }
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
    transition-duration: 0.3s;
  }
  
  .Btn:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 10px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  .Btn:active {
    transform: translate(2px, 2px);
  }
  

/* Botão com fundo amarelo */

.button-v1{
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    transition: all .3s ease-in-out;

    @media(max-width: 768px){
        font-size: 12px;
    }

    & i {
        transition: all .3s ease-in-out;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.button-v1::before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 500px;
    background-color: var(--color--yellow);
    z-index: -1;
    transition: all .3s ease-in-out;
}

.button-v1:hover::before{
    width: 100%;
}

.button-v1:hover{
    font-weight: 500;
}

.button-v1:hover i {
    transform: rotate(-45deg);
}

/* Botão sem fundo */

.button-v2{
    padding: 10px 10px 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    transition: all .3s ease-in-out;
    border-radius: 500px;

    @media(max-width: 768px){
        font-size: 12px;
    }

    & span {
        position: relative;
        background-color: #fff;
        z-index: 1;
        left: -10px;
        padding: 2px 5px;
        font-size: 16px;
        font-weight: 400;
        transition: all .3s ease-in-out;
        border-radius: 500px;
        border: 1px solid transparent;
    }

    & i {
        transition: all .3s ease-in-out;
        background-color: #fff;
        width: 50px;
        height: 50px;
        font-size: 14px;
        transform: rotate(-45deg);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color--black);
        position: relative;
        z-index: -1;
    }
}

.button-v2:hover i{
    transform: rotate(0deg);
    font-size: 16px;
}

.button-v2:hover span{
    font-weight: 500;
    border: 1px solid var(--color--black);
    padding: 2px 10px;
    background-color: var(--color--yellow);
}

/* Botão simples */

.button-v3 {
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    transition: all .3s ease-in-out;
    border: 1px solid var(--color--black);
    background: transparent;
    color: var(--color--black);
    position: relative;

    @media(max-width: 768px){
        font-size: 12px;
    }
}

.button-v3::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color--yellow);
    transition: all .4s ease-in-out;
    z-index: -1;
}

.button-v3:hover::before{
    width: 100%;
}

.button-v3:hover{
    font-weight: 500;
    transform: scale(0.96);
}